@use 'reset.scss';
@use 'colors';

* {
  box-sizing: border-box;
  transition: all 0.15s ease-in-out;
}

body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 14px;
  background-color: colors.$white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

img {
  vertical-align: middle;
}

a {
  text-decoration: none;
  color: inherit;
}

input {
  border: none;
}

button {
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  cursor: pointer;
}
